.nav-pills .child > li {
    padding-left: 10%;
}
.menu {
    padding-right: 10%;
}
.submenu {
    text-align: left;
    display: block;
}
a.btn.active, a.btn.active:hover, a.btn.active:focus {
    color: #ffffff;
    background-color: #0088cc;
}
.rightMenu {
    position:relative;
    float:right;
}
.right-caret {

    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;
    margin: 5px 0 0 5px;
}
.right
{
    float:right;
}

