<ul class="nav nav-pills nav-stacked">
        <li data-ng-repeat="category in mainMenu"
            data-ng-class="(category.id == activeCategory && 'active')">
            <a href="#/category/{{category.id}}">
                {{ category.name }}
            </a>
            <div ng-show="category.id == activeRootMenu">
                <ul class="nav nav-pills nav-stacked child">
                    <li data-ng-repeat="subcategory in category.children"
                        data-ng-class="(subcategory.id == activeCategory && 'active')"
                        ng-mouseenter="hoverMenu=subcategory.id" ng-mouseleave="hoverMenu=''">
                        <div class="btn-group" data-ng-class="subcategory.id == hoverMenu && 'open'">
                            <a class="btn btn-link dropdown-toggle" href="#/category/{{subcategory.id}}"
                               data-ng-class="(subcategory.id == activeCategory && 'active')">
                                {{ subcategory.name }}
                                <span class="right-caret" ng-show="subcategory.children.length > 0"></span>
                            </a>

                            <ul class="dropdown-menu rightMenu" ng-show="subcategory.children.length > 0">
                                <li>
                                    <div class="btn-group">
                                        <a data-ng-repeat="subsub in subcategory.children" href="#/category/{{subsub.id}}"
                                                              class="btn btn-link operationsButtons submenu">{{subsub.name}}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </li>
</ul>
